* { /* Le damos una tipografia a la pagina */
    font-family: Arial, Helvetica, sans-serif;
}

/* ul li: { /* Pseudoclases es lo que viene despues de los : */
/* } */

ul li:first-child { /* Al primer ul>li(primer elemento) */
    color: purple; /* Le asigno el color purpura a las letras */
    font-weight: bold; /* Que el tipo de texto sea negritas */
}

ul li:nth-child(2) { /* Para asignarlo en un grupo de elementos, se elije el segundo elemento */
    color: orange; /* Al segundo elemento color de texto naranja */
    font-weight: bold; /* Tipografia de este elemento negritas */
}

ul li:last-child { /* Al ultimo elemento del arreglo */
    color: gray; /* Le asignamos un color de texto */
    font-weight: bold; /* Que este en negritas */
}

#mi-enlace { /* Estilos personalizados al enlace */
    font-size: 30px; /* Tamaño de texto */
    color: lightsalmon; /* Color de la fuente */
}

#mi-enlace:visited { /* Cuando el enlace sea visitado cambiar de color */
    color: orangered; /* Cambio de color cuando el enlace sea visitado */
}

#mi-enlace:hover { /* Al pasar el mouse por el enlace */
    color: blue; /* El color se vuelve azul */
}

#mi-enlace:active { /* Al hacer click hay una transicion */
    color: green; /* Cambia de color */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Cambia la tipografia */
}

input[type="text"] { /* A este input le doy estilos, pero podrian ser mas elementos iguales */
    margin-top: 20px; /* Margen superior, de arriba a abajo es el espacio */
    padding: 10px; /* Es el margen de adentro hacia afuera del elemento, en todos los angulos */
}

input[type="text"]:hover { /* Al pasarle el mouse */
    border: 4px dashed red; /* Que el borde, aumente los pizeles y el borde sean puntitos */
}

#footer{
    margin-top: 20px;
}

footer{ /* Color Rojo para elemento, para el elemento HTML footer */
    width: 100%; /* Anchura de general, lo que ocupa */
    height: 100%; /* Lo que mide el campo de altura, osea quedo mas en medio el texto del footer */
    line-height: 25px; /* Bajo un poco mas el texto, linea de arriba hacia abajo(invisible) */
    background: gray; /* Fondo color gris */
    text-align: center; /* Texto centrado */
    color: rgb(36, 34, 34); /* Color de texto un poco mas gris y menos negro */
}